<?xml version="1.0"?>
<launch>
  <include file="$(find kuka_lbr_iiwa_support)/launch/load_lbr_iiwa_14_r820.launch"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_lbr_iiwa_support)/config/view_robot.rviz" required="true" />
</launch>
